a:hover {
		background-color: yellow;
}
a:link {
    text-decoration: none;
}
td center {
	font-style: italic; 
}
h5 {
	color:#cd6600;
}	
@font-face {
	font-family:"quicksand"
	src: url("C:\Users\Pat Grill\Documents\respo\pre-work\quicksand")
}