caption h1 {
	color:purple;
	font-family: quicksand;
}
caption h1 span{
	color:blue;
	font-style: italic;
	font-style: oblique;
	font-size:50px;
}
caption h5 {
	font-style: italic;
	color: #ff4136;
	font-family: cursive;
}
a:link {
    text-decoration: none;
}
a:visited{
	text-decoration:none;
	color: black;
}
a:hover{
	color:#ff815b;
}
@font-face {
	font-family:"quicksand"
	src: url("C:\Users\Pat Grill\Documents\respo\css-prework\quicksand")
}
